/*fonts css start*/
@font-face {
    font-family: 'Yu Gothic';
    src: url('../fonts/YuGothic-Bold.eot');
    src: url('../fonts/YuGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YuGothic-Bold.woff2') format('woff2'),
    url('../fonts/YuGothic-Bold.woff') format('woff'),
    url('../fonts/YuGothic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yu Gothic';
    src: url('../fonts/YuGothic-Medium.eot');
    src: url('../fonts/YuGothic-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YuGothic-Medium.woff2') format('woff2'),
    url('../fonts/YuGothic-Medium.woff') format('woff'),
    url('../fonts/YuGothic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yu Gothic';
    src: url('../fonts/YuGothic-Regular.eot');
    src: url('../fonts/YuGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YuGothic-Regular.woff2') format('woff2'),
    url('../fonts/YuGothic-Regular.woff') format('woff'),
    url('../fonts/YuGothic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/*fonts css end*/

/*common css start*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body, h1, h2, h3, h4, h5, h6, ul, li, p, a, span{
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    font-family: 'Noto Sans JP', sans-serif;
}
body.no_scroll {
    overflow: hidden;
}
a, button, input[type=submit], select{
    cursor: pointer;
}
a, a:hover, a:focus, 
button, button:hover, button:focus,
input, input:hover, input:focus, 
textarea, textarea:hover, textarea:focus,
select, select:hover, select:focus{
    outline: 0;
    box-shadow: none;
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
.cpc-675,
.cpc-1166,
.cpc {
    display: block !important;
}
.csp-675,
.csp-1166,
.csp {
    display: none !important;
}
@media (max-width: 1166px){
    .cpc-1166{
        display: none !important;
    }
    .csp-1166{
        display: block !important;
    }
}
@media (max-width: 900px){
    .cpc{
        display: none !important;
    }
    .csp{
        display: block !important;
    }
}
@media (max-width: 675px){
    .cpc-675{
        display: none !important;
    }
    .csp-675{
        display: block !important;
    }
}
/*common css end*/

/*commmon grid css start*/
.custom_container {
    width: 100%;
    max-width: 1100px;
    padding: 0px 15px;
    margin: 0px auto;
}
.custom_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -15px;
}
.custom_col_3 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}
.custom_col_6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
/*commmon grid css end*/

/*page pre-loader css start*/
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    pointer-events: none;
    background-color: #fff;
}
.loader-wrapper .loader {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-top: 3px solid rgba(62, 174, 230, 0.2);
    border-right: 3px solid rgba(62, 174, 230, 0.2);
    border-bottom: 3px solid rgba(62, 174, 230, 0.2);
    border-left: 3px solid rgba(62, 174, 230, 0.8);
    -webkit-animation: loaderSpin 1.5s infinite linear;
    animation: loaderSpin 1.5s infinite linear;
}
@-webkit-keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*page pre-loader css end*/

/*animations css start*/
.io {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
}
.io.move {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
    transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
}
.io.fade {
    opacity: 0;
}
.io.lr {
    -webkit-transform: translate3d(-80px, 0, 0);
    transform: translate3d(-80px, 0, 0);
}
.io.rl {
    -webkit-transform: translate3d(80px, 0, 0);
    transform: translate3d(80px, 0, 0); 
}
.io.upL {
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
}
.io.upS {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.downL {
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}
.io.downS {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}
.io.scaleUp {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.io.scaleDown {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.io.rotateL {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.io.rotateR {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.io.delay.delay1 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
}
.io.delay.delay2 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, -webkit-transform 1.0s ease 0.23s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, transform 1.0s ease 0.23s;
}
.io.delay.delay3 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, -webkit-transform 1.0s ease 0.46s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, transform 1.0s ease 0.46s;
}
.io.delay.delay4 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, -webkit-transform 1.0s ease 0.69s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, transform 1.0s ease 0.69s;
}
.io.delay a {
    -webkit-transition: none;
    transition: none;
}
.io.delay .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.delay.delay1 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
}
.io.delay.delay2 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, -webkit-transform 1.0s ease 0.73s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, transform 1.0s ease 0.73s;
}
.io.delay.delay3 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, -webkit-transform 1.0s ease 0.96s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, transform 1.0s ease 0.96s;
}
.io.delay.delay4 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, -webkit-transform 1.0s ease 1.19s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, transform 1.0s ease 1.19s;
}
.io.delay.move .delay_child {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
@media (max-width: 900px) {
    .io.delay.delay1 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay2 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay3 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay4 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay1 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay2 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay3 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay4 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
}
/*animations css end*/

/*header section css start*/
header.site_header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #fff;
    position: relative;
}
header.site_header .header_logo p {
    font-size: 12px;
    color: #323246;
    font-weight: 500;
    margin-bottom: 10px;
}
header.site_header .header_logo img {
    max-width: 174px;
}
header.site_header .custom_navbar ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
header.site_header .custom_navbar ul li a {
    font-size: 18px;
    color: #323246;
    font-weight: 500;
    margin-left: 40px;
    transition: all 0.4s;
    padding: 2px 0 2px 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
header.site_header .custom_navbar ul li a.thewlis_link {
    background-image: url(../images/thewlis_image.png);
    background-position: -42px center;
    padding-left: 40px;
}
header.site_header .custom_navbar ul li a.symptoms_link {
    background-image: url(../images/symptoms_image.png);
    background-position: -27px center;
    padding-left: 26px;
}
header.site_header .custom_navbar ul li a.information_link {
    background-image: url(../images/information_image.png);
    background-position: -40px center;
    padding-left: 37px;
    background-size: auto 24px;
}
header.site_header .custom_navbar ul li a.articles_link {
    background-image: url('../images/articles_image.png');
    background-position: -30px center;
    padding-left: 33px;
    background-size: auto 24px;
}
header.site_header .custom_navbar ul li:first-child a {
    margin-left: 0;
}
header.site_header .custom_navbar ul li a:hover {
    color: #62bfeb;
}
.navbar_toggler {
    padding: 0;
    height: 35px;
    width: 35px;
    border: none;
    outline: none !important;
    background-color: transparent;
    border-radius: 5px;
    z-index: 9999;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto;
}
.navbar_toggler .navbar_toggler_inner,
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    width: 30px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: transform;
    border-radius: 0;
    background-color: #63bfeb;
    position: absolute;
    left: 0;
    right: 0;
}
.navbar_toggler .navbar_toggler_inner{
    transition: top 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    top: 0;
    bottom: 0;
    margin: auto;
}
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    display: block;
    content: "";
}
.navbar_toggler .navbar_toggler_inner:before {
    transition: top 75ms ease 0.12s,opacity 75ms ease;
    top: -12px;
}
.navbar_toggler .navbar_toggler_inner:after {
    transition: bottom 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    bottom: -12px;
}
.navbar_toggler.open_menu .navbar_toggler_inner {
    transition: top 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(45deg);
    top: 0;
    background-color: #8c96aa;
}
.navbar_toggler.open_menu .navbar_toggler_inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease 0.12s;
    opacity: 0;
    background-color: #8c96aa;
}
.navbar_toggler.open_menu .navbar_toggler_inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(-90deg);
    background-color: #8c96aa;
}
/*header section css end*/

/*footer section css start*/
.site_footer .businesses_box_sec {
    padding: 80px 0 40px;
    background-color: #f0f5fa;
}
.site_footer .businesses_box {
    width: 100%;
    max-width: 950px;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid #62bfeb;
    padding: 25px 50px;
}
.businesses_box .businesses_box_image {
    -ms-flex: 0 0 117px;
    flex: 0 0 117px;
    max-width: 117px;
}
.businesses_box .businesses_box_inner {
    -ms-flex: 0 0 calc(100% - 117px);
    flex: 0 0 calc(100% - 117px);
    max-width: calc(100% - 117px);
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.businesses_box h5 {
    font-size: 34px;
    color: #62bfeb;
    font-weight: 500;
    line-height: 40px;
    display: table;
    margin: auto;
}
.site_footer .businesses_box a {
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    line-height: 40px;
    width: 100%;
    max-width: 360px;
    background-color: #62bfeb;
    border-radius: 30px;
    padding: 12px 15px;
    text-align: center;
}
.site_footer .footer_logo a {
    display: table;
    margin: 50px auto 0;
}
.site_footer .footer_link {
    padding: 66px 0 100px;
    background-color: #62bfeb;
}
.footer_link ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 785px;
    margin: auto;
    text-align: center;
}
.footer_link ul li {
    margin: 14px 18px;
}
.footer_link ul li a {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 40px;
    position: relative;
}
.footer_link .copyright_text {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin-top: 60px;
}
/*footer section css end*/

/*nationwide section css start*/
.nationwide_section {
    position: relative;
    background-image: url('../images/nationwide_bg_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 15px;
}
.nationwide_section .nationwide_contnet_sec {
    background-color: #fff;
    width: 100%;
    max-width: 950px;
    margin: auto;
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.nationwide_section .nationwide_contnet_inner {
    width: 100%;
    max-width: 670px;
    margin: auto;
    padding: 45px 15px;
}
.nationwide_contnet_sec .nationwide_contnet_inner h2 {
    color: #323246;
    font-size: 52px;
    font-weight: 600;
    text-align: center;
}
.nationwide_contnet_sec .nationwide_contnet_inner h3 {
    color: #62bfeb;
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0 35px;
    text-align: center;
}
.nationwide_contnet_sec .nationwide_contnet_inner h3 span {
    font-size: 24px;
}
.nationwide_contnet_tabs_sec {
    margin-bottom: 25px;
}
.nationwide_list_tab_title ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.nationwide_list_tab_title ul li {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.nationwide_list_tab_title ul li a {
    background-color: #62bfeb;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding: 9px 15px;
    transition: all 0.4s;
}
.nationwide_list_tab_title ul li a.active_tab {
    background-color: #4776e1;
}
.nationwide_tab_content {
    padding: 22px 25px;
    border: 1px solid #8c96aa;
}
.nationwide_tab_content .nationwide_tab_content_input {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.nationwide_tab_content .nationwide_tab_content_input input {
    width: calc(100% - 210px);
    border: 2px solid #4776e1;
    border-radius: 5px;
    height: 55px;
    color: #8c96aa;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
    padding-left: 50px;
    background-image: url(../images/search_icon.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 15px center;
}
.nationwide_tab_content .nationwide_tab_content_input select {
    width: 100%;
    border: 2px solid #62bfeb;
    color: #62bfeb;
    background-image: url(../images/down_icon_blue.png);
    border-radius: 0 5px 5px 0;
    height: 55px;
    font-size: 20px;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 105%;
    padding-right: 54px;
}
.nationwide_tab_content .nationwide_tab_content_input button {
    position: relative;
    background-color: #4776e1;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    font-weight: 900;
    border: none;
    padding: 10px 24px 10px 25px;
    height: 55px;
}
.nationwide_tab_content .nationwide_tab_content_input button i {
    margin-right: 10px;
    font-size: 20px;
}
.model_name_select {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 0;
}
.model_name_select label {
    display: block;
    color: #fff;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
    width: 122px;
    text-align: center;
    border-radius: 5px 0 0 5px;
}
.model_name_select select {
    width: calc(100% - 122px);
    border-radius: 0 5px 5px 0;
    height: 55px;
    color: #8c96aa;
    font-size: 20px;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 105%;
    padding-right: 54px;
}
.nationwide_tab_content .nationwide_tab_content_input select,
.model_name_select select::-ms-expand {
    display: none;
}
.model_name_select.light_blue label {
    background-color: #4776e1;
}
.model_name_select.dark_blue label {
    background-color: #62bfeb;
}
.model_name_select.light_blue select {
    border: 2px solid #4776e1;
    color: #4776e1;
    background-image: url(../images/down_icon.png);
}
.model_name_select.dark_blue select {
    border: 2px solid #62bfeb;
    color: #62bfeb;
    background-image: url(../images/down_icon_blue.png);
}
.discerning_search_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #50505a;
    border-bottom: 2px solid #50505a;
    padding: 14px 10px;
    margin: 10px 0 25px;
}
.discerning_search_box h4 {
    font-size: 22px;
    color: #50505a;
    font-weight: 700;
    margin-right: 14px;
}
.discerning_search_box i {
    font-size: 26px;
    color: #62bfeb;
    font-weight: 700;
}
.blue_btn {
    display: block;
    width: 100%;
    background-color: #4776e1;
    text-align: center;
    color: #fff;
    height: 80px;
    line-height: 80px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 4px 8px 10px 0 #bfc8d1 !important;
}
.repair_shop_btn {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #fff;
    background-color: #4776e1;
    text-align: center;
    color: #fff;
    height: 80px;
    line-height: 74px;
    font-size: 26px;
    font-weight: 700;
    padding: 0px 30px;
    border-radius: 40px;
    position: fixed;
    bottom: 11%;
    right: 20px;
    z-index: 1;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2) !important;
}
/*nationwide section css end*/

/*chosen section css start*/
.chosen_section {
    background-color: #f0f5fa;
    padding: 80px 0;
}
.chosen_content_box_sec .custom_row {
    margin: 0 -11px;
}
.chosen_content_box_sec .custom_col_3 {
    padding: 0 11px;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
}
.chosen_content_box_sec .chosen_box {
    background-color: #fff;
    padding: 54px 32px 34px;
    border-radius: 5px;
}
.chosen_box_image img {
    margin: auto;
    max-width: 146px;
    max-height: 128px;
}
.chosen_box_text h4 {
    font-size: 34px;
    text-align: center;
    color: #4776e1;
    margin: 30px 0 20px;
}
.chosen_box_text p {
    font-size: 22px;
    line-height: 30px;
    color: #50505a;
}
.common_heading {
    text-align: center;
    font-size: 50px;
    color: #323246;
    font-weight: 700;
}
/*chosen section css end*/

/*symptoms section css start*/
.symptoms_section {
    padding: 100px 0 48px;
}
.information_section .custom_row,
.symptoms_section .custom_row {
    margin: 0 -20px;
}
.information_section .custom_col_6,
.symptoms_section .custom_col_6 {
    padding: 0 20px;
    display: -ms-flexbox;
    display: flex;
}
.symptoms_information_image {
    position: relative;
    padding-top: 61.7%;
    overflow: hidden;
    width: 100%;
}
.symptoms_information_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.symptoms_information_image h4 {
    position: absolute;
    top: 30px;
    left: 32px;
    color: #323246;
    font-size: 40px;
    font-weight: 700;
}
.symptoms_information_image h4:before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 3px;
    right: 0;
    height: 4px;
    background-color: #4776e1;
}
.symptoms_information_text ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -16px;
}
.symptoms_information_text ul li {
    padding: 0 16px;
    margin-bottom: 20px;
}
.symptoms_information_text ul li a {
    min-width: 120px;
    display: block;
    height: 74px;
    line-height: 74px;
    border: 2px solid #62bfeb;
    text-align: center;
    color: #62bfeb;
    font-size: 24px;
}
.symptoms_information_text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.symptoms_information_text a {
    text-align: right;
    font-size: 24px;
    color: #8c96aa;
    font-weight: 700;
}
.custom_model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}
.custom_model .custom_model_content {
    background-color: #fff;
    width: 100%;
    max-width: 847px;
    margin: auto;
    border-radius: 30px;
    position: relative;
}
.custom_model .custom_model_content a.model_close_btn {
    position: absolute;
    top: -12px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    background-color: #62bfeb;
    font-size: 23px;
}
.custom_model_content_inner {
    width: 100%;
    max-width: 685px;
    margin: auto;
    padding: 0 15px;
    min-height: 78.6vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.custom_model_content_inner .common_heading {
    text-align: left;
    margin-bottom: 20px;
    font-size: 40px;
}
.custom_model_content_inner ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -10px;
}
.custom_model_content_inner ul li {
    padding: 0 10px;
    margin-bottom: 18px;
}
.custom_model_content_inner ul li a {
    min-width: 115px;
    display: block;
    height: 58px;
    line-height: 54px;
    border: 2px solid #8c96aa;
    text-align: center;
    color: #8c96aa;
    font-size: 24px;
}
/*symptoms section css end*/

/*information section css start*/
.information_section {
    padding: 48px 0 100px;
}
/*information section css end*/

/*article section css start*/
.article_section {
    padding: 80px 0 75px;
    background-color: #f0f5fa;
}
.article_slider_sec {
    margin-top: 60px;
}
.article_slider_sec .slick-slide {
    margin: 0 26px;
}
.article_box {
    box-shadow: 0 3px 5px 0px rgb(150 150 150 / 70%);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}
.article_box_image {
    position: relative;
    padding-top: 56.3%;
    overflow: hidden;
}
.article_box_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.article_box_text {
    padding: 28px 35px;
    background-color: #fff;
}
.article_box_text label {
    background-color: #62bfeb;
    color: #fff;
    display: inline-block;
    min-width: 140px;
    text-align: center;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 20px;
}
.article_box_text h4 {
    font-size: 28px;
    color: #62bfeb;
    line-height: 38px;
    margin: 20px 0;
}
.article_box_text p {
    font-size: 22px;
    color: #50505a;
    line-height: 32px;
}
.article_slider_sec .slick-arrow {
    width: 90px;
    height: 90px;
    background-color: rgba(0,0,0,0.4);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    font-size: 39px;
    text-align: center;
    line-height: 90px;
}
.article_slider_sec .slick-arrow.article_next {
    right: 18px;
}
.article_slider_sec .slick-arrow.article_prev {
    left: 18px;
    z-index: 1;
}
.article_slider_sec .blue_border_btn {
    margin-top: 55px;
}
.blue_border_btn {
    display: table;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
    border: 2px solid #4776e1;
    height: 80px;
    line-height: 80px;
    border-radius: 41px;
    color: #4776e1;
    font-size: 24px;
    background-color: #fff;
}
.article_slider_sec ul.slick-dots {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 20px;
    margin: 40px 0 0;
    overflow: hidden;
    padding: 0 20px;
}
.article_slider_sec ul.slick-dots li {
    flex-grow: 1;
    height: 20px;
    background-color: #d3eaf9;
}
.article_slider_sec ul.slick-dots li button {
    width: 100%;
    background-color: transparent;
    font-size: 0px;
    height: 20px;
    border: none;
    display: block;
    transition: all 0.4s;
}
.article_slider_sec ul.slick-dots li.slick-active button {
    background-color: #62bfeb;
}
/*article section css end*/

/*repair guide section css start*/
.repair_guide_section {
    background-color: #f0f5fa;
    padding: 78px 0 40px;
}
.repair_prefecture_content {
    padding: 60px 0;
    background-color: #fff;
}
.repair_prefecture_content h4 {
    font-size: 30px;
    color: #323246;
    font-weight: 700;
    margin-bottom: 40px;
}
.repair_prefecture_content ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.repair_prefecture_content ul li {
    position: relative;
    padding-right: 35px;
    margin: 2px 0;
}
.repair_prefecture_content ul li:not(:last-child):before {
    content: '/';
    position: absolute;
    top: 0;
    right: 13px;
    bottom: 0;
    margin: auto;
    color: #62bfeb;
    font-size: 25px;
    width: 9px;
    height: 36px;
}
.repair_prefecture_content ul li a {
    font-size: 20px;
    line-height: 40px;
    color: #62bfeb;
    font-weight: 700;
}
/*repair guide section css end*/

/*prefecture section css end*/
.prefecture_section {
    background-color: #f0f5fa;
}
/*prefecture section css end*/

/*all form section css start*/
.all_forms_tab_list {
    padding: 60px 15px;
}
.all_forms_tab_list ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 715px;
    margin: auto;
}
.all_forms_tab_list ul li {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    text-align: center;
}
.all_forms_tab_list ul li a {
    position: relative;
    display: block;
    background-color: #fff;
    color: #8c96aa;
    font-size: 22px;
    font-weight: 700;
    padding: 24px 5px;
    border: 1px solid #8c96aa;
    border-left: none;
}
.all_forms_tab_list ul li:not(:last-child) a {
    padding-left: 30px;
}
.all_forms_tab_list ul li a.active_tab {
    border: 1px solid #62bfeb;
    background-color: #62bfeb;
    color: #ffffff;
    border-right: none;
}
.all_forms_tab_list ul li:not(:last-child) a:before {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    bottom: 0;
    background-color: #fff;
    width: 0;
    height: 0;
    border-top: 40px solid #fff;
    border-left: 30px solid ;
    border-bottom: 40px solid #fff;
    z-index: 1;
}
.all_forms_tab_list ul li:not(:last-child) a.active_tab:before {
    border-left-color: #62bfeb;
}

.application_heading_sec {
    padding: 60px 0;
    background-color: #f0f5fa;
}
.application_heading_sec h2 {
    text-align: center;
    font-size: 35px;
    color: #323246;
    margin: 0 0 12px;
}
.application_heading_sec h3 {
    text-align: center;
    font-size: 24px;
    color: #323246;
}
.all_forms_input_sec h4 {
    font-size: 28px;
    color: #323246;
    font-weight: 700;
    margin-bottom: 8px;
}
/*store infomation css*/
.store_information_form_sec {
    padding: 75px 0;
}
.all_forms_input_sec .all_forms_input_content {
    border: 1px solid;
}
.all_forms_input_sec .all_forms_input_content {
    border: 1px solid #e6e6e6;
    padding: 40px 55px;
}
.all_form_input:not(:last-child) {
    margin-bottom: 40px;
}
.all_form_input label {
    display: block;
    font-size: 22px;
    font-weight: 500;
    color: #323246;
}
.all_form_input label span {
    font-size: 18px;
    color: #fff;
    min-width: 72px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    margin-left: 20px;
}
.all_form_input label span.bg_blue {
    background-color: #62bfeb;
}
.all_form_input label span.bg_gray {
    background-color: #8c96aa;
}
.all_form_input select, .all_form_input input[type="text"] {
    width: 100%;
    max-width: 625px;
    height: 55px;
    background-color: #f0f5fa;
    border: 1px solid #8c96aa;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 18px;
    color: #8c96aa;
    font-weight: 600;
    margin: 15px 0 10px;
}
.all_form_input select {
    background-image: url(../images/down_icon_gray.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 105%;
    padding-right: 54px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.all_form_input select::-ms-expand {
    display: none;
}
.all_form_input p.input_small_text {
    font-size: 16px;
    font-weight: 500;
    color: #323246;
}
.all_form_input p.input_big_text {
    font-size: 18px;
    color: #323246;
    font-weight: 500;
}
.store_information_form.all_forms_input_content .all_form_input:last-child input[type="text"] {
    margin-top: 8px;
}
.all_form_input p.input_big_text.input_big_text_spacing {
    margin-top: 10px;
}
.all_form_input ul.all_form_input_check_box_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 15px -10px 0;
}
.all_form_input ul.all_form_input_check_box_list li {
    padding: 5px 10px;
}
.all_form_input ul.all_form_input_check_box_list li .all_form_check_box {
    background-color: #f0f5fa;
    border: 1px solid #8c96aa;
    color: #8c96aa;
    border-radius: 3px;
    padding: 6px 10px;
}
.all_form_check_box input[type="checkbox"] {
    display: none;
}
.all_form_check_box input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    font-size: 19px;
    font-weight: 700;
    color: #323246;
    margin: 0;
    cursor: pointer;
}
.all_form_check_box input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 2px solid #818181;
    border-radius: 50%;
}
.all_form_check_box input[type="checkbox"]:checked + label:before {
    border-color: #62bfeb;
}
.all_form_check_box input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 15px;
    background-color: #62bfeb;
    border-radius: 50%;
}
/*address css*/
.all_form_input ul.all_form_input_button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px -10px 10px;
    width: 100%;
    max-width: 600px;
}
.all_form_input ul.all_form_input_button li {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
}
.all_form_input ul.all_form_input_button li input[type="text"] {
    margin: 0;
}
.all_form_input ul.all_form_input_button li button {
    width: 100%;
    height: 55px;
    font-size: 20px;
    color: #fff;
    border: none;
    font-weight: 700;
    background-color: #8c96aa;
    border-radius: 5px;
}
/*about tags css*/
.about_tags_form_sec {
    padding: 85px 0 70px;
}
.registrant_information_form_sec p.small_heading,
.about_tags_form_sec p {
    font-size: 20px;
    color: #323246;
    font-weight: 500;
    margin-bottom: 8px;
}
ul.all_form_input_check_box_list.all_form_input_check_box_list_full_width {
    display: block;
    margin: 0;
}
ul.all_form_input_check_box_list.all_form_input_check_box_list_full_width li {
    padding: 9px 0;
    width: 100%;
    max-width: 625px;
}
/*store introduction css*/
.store_introduction_form_sec {
    padding: 80px 0;
}
.store_introduction_list {
    border-bottom: 2px solid #323246;
    padding-bottom: 6px;
}
.store_introduction_list h5 {
    font-size: 18px;
    color: #323246;
    font-weight: 700;
    padding: 10px 0 4px;
    border-bottom: 2px solid #323246;
    margin-bottom: 10px;
}
.all_form_input .dote_text {
    position: relative;
    padding-left: 18px;
    font-size: 18px;
    color: #323246;
    font-weight: 700;
    margin-bottom: 2px;
}
.all_form_input .dote_text:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #323246;
}
.store_introduction_list p.store_introduction_list_small {
    font-size: 14px;
    color: #323246;
    font-weight: 500;
    margin-top: 12px;
}
.store_introduction_form_upload_photo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 14px 0 10px;
}
.all_form_input .file_upload {
    width: 100%;
    max-width: 340px;
    height: 120px;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #f0f5fa;
    border: 1px solid #8c96aa;
    border-radius: 3px;
    cursor: pointer;
}
.all_form_input .file_upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
}
.store_introduction_form_upload_photo p {
    font-size: 16px;
    color: #8c96aa;
    font-weight: 700;
    padding-left: 20px;
}
.all_form_input .file_upload p {
    padding: 0;
    font-size: 18px;
}
.store_introduction_form_sec button {
    width: 100%;
    max-width: 240px;
    height: 55px;
    border: 2px solid #4776e1;
    background-color: #4776e1;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.all_form_input .file_upload.file_upload_active {
    background-color: #8c96aa;
}
.all_form_input .file_upload.file_upload_active p {
    color: #fff;
}
.store_introduction_form_sec button.file_upload_active {
    background-color: #fff;
    color: #8c96aa;
    border-color: #8c96aa;
}
/*registrant information css*/
.privacy_policy_sec {
    padding: 60px 0;
}
.privacy_policy_sec h5 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #323246;
}
.privacy_policy_content {
    max-height: 204px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #8c96aa;
}
.privacy_policy_content p {
    color: #646464;
    font-size: 16px;
}
/*all form section css end*/



/*responsive css start*/
@media(max-width: 1240px) {
    header.site_header {
        padding: 15px 25px;
    }
    header.site_header .custom_navbar ul li a {
        font-size: 16px;
        margin-left: 30px;
        padding: 0;
    }
    header.site_header .custom_navbar ul li a.thewlis_link {
        background-position: -34px center;
        padding-left: 39px;
    }
    header.site_header .custom_navbar ul li a.symptoms_link {
        background-position: -22px center;
        padding-left: 25px;
    }
    header.site_header .custom_navbar ul li a.information_link {
        background-position: -40px center;
        padding-left: 41px;
        background-size: auto 24px;
    }
    header.site_header .custom_navbar ul li a.articles_link {
        background-position: -32px center;
        padding-left: 32px;
        background-size: auto 24px;
    }
    .site_footer .businesses_box {
        max-width: 820px;
        padding: 25px 30px;
    }
    .businesses_box .businesses_box_image {
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        max-width: 100px;
    }
    .businesses_box .businesses_box_inner {
        -ms-flex: 0 0 calc(100% - 100px);
        flex: 0 0 calc(100% - 100px);
        max-width: calc(100% - 100px);
    }
    .site_footer .businesses_box img {
        max-width: 100px;
    }
    .site_footer .businesses_box h5 {
        font-size: 30px;
    }
    .site_footer .businesses_box a {
        font-size: 22px;
        line-height: 36px;
        max-width: 330px;
        padding: 10px 15px;
    }
    .site_footer .footer_logo a {
        margin: 40px auto 0;
    }
    .site_footer .footer_logo a img {
        max-width: 240px;
    }
    .footer_link ul {
        max-width: 720px;
    }
    .footer_link ul li {
        margin: 10px 18px;
    }
    .footer_link ul li a {
        font-size: 18px;
    }
    .footer_link .copyright_text {
        margin-top: 50px;
    }
    .nationwide_contnet_sec .nationwide_contnet_inner h2 {
        font-size: 48px;
    }
    .nationwide_contnet_sec .nationwide_contnet_inner h3 {
        font-size: 30px;
        margin: 10px 0 28px;
    }
    .common_heading {
        font-size: 46px;
    }
    .chosen_content_box_sec .custom_col_3 {
        margin-top: 40px;
    }
    .chosen_box_image img {
        max-width: 131px;
        max-height: 113px;
    }
    .chosen_box_text h4 {
        font-size: 30px;
        margin: 25px 0 15px;
    }
    .chosen_box_text p {
        font-size: 20px;
    }
    .chosen_content_box_sec .chosen_box {
        padding: 50px 30px 30px;
    }
    .custom_model_content_inner .common_heading {
        margin-top: 5px;
        font-size: 30px;
    }
    .custom_model_content_inner ul li a {
        min-width: 105px;
        height: 50px;
        line-height: 46px;
        font-size: 20px;
    }
    .custom_model_content_inner {
        max-width: 635px;
    }
    .custom_model .custom_model_content {
        max-width: 730px;
    }
    .custom_model .custom_model_content a.model_close_btn {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
}
@media(max-width: 1166px) {
    header.site_header {
        justify-content: center;
        position: relative;
    }
    header.site_header .header_logo p {
        display: none;
    }
    nav.custom_navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #4776e1;
        display: none;
        z-index: 2;
    }
    header.site_header .custom_navbar ul {
        display: block;
    }
    header.site_header .custom_navbar ul li {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #fff;
        padding: 15px 0;
    }
    header.site_header .custom_navbar ul li a {
        padding: 3px 0 3px 54px !important;
        font-size: 18px;
        color: #fff;
        max-width: 296px;
        margin: auto !important;
        display: block;
        background-position: 0px center !important;
    }
    header.site_header .custom_navbar ul li a.symptoms_link {
        background-position: 8px center !important;
    }
    header.site_header .custom_navbar ul li a.information_link {
        background-position: 4px center !important;
    }
    header.site_header .custom_navbar ul li a.articles_link {
        background-position: 8px center !important;
    }
    header.site_header .custom_navbar ul li a:hover {
        color: #fff;
    }
    header.site_header .custom_navbar ul li a:before {
        content: '\f054';
        font-family: FontAwesome;
        font-size: 20px;
        width: 12px;
        height: 21px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .site_footer .businesses_box_sec {
        padding: 60px 0 30px;
    }
    .site_footer .businesses_box {
        max-width: 680px;
    }
    .businesses_box .businesses_box_image {
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
        max-width: 90px;
    }
    .businesses_box .businesses_box_inner {
        -ms-flex: 0 0 calc(100% - 90px);
        flex: 0 0 calc(100% - 90px);
        max-width: calc(100% - 90px);
    }
    .site_footer .businesses_box img {
        max-width: 90px;
    }
    .site_footer .businesses_box h5 {
        font-size: 24px;
    }
    .site_footer .businesses_box a {
        font-size: 20px;
        line-height: 30px;
        max-width: 280px;
    }
    .site_footer .footer_logo a img {
        max-width: 200px;
    }
    .site_footer .footer_link {
        padding: 50px 0 100px;
    }
    .footer_link .copyright_text {
        margin-top: 40px;
    }
    .nationwide_section {
        padding: 60px 15px;
    }
    .nationwide_section .nationwide_contnet_inner {
        padding: 40px 15px;
    }
    .repair_shop_btn {
        max-width: 430px;
        border: 2px solid #fff;
        height: 75px;
        line-height: 70px;
        font-size: 23px;
        padding: 0px 25px;
        bottom: 20px;
    }
    .article_section,
    .chosen_section {
        padding: 60px 0;
    }
    .common_heading {
        font-size: 40px;
    }
    .chosen_content_box_sec .chosen_box {
        padding: 35px 25px 25px;
    }
    .chosen_box_image img {
        max-width: 126px;
        max-height: 108px;
    }
    .chosen_box_text h4 {
        font-size: 28px;
        margin: 20px 0 10px;
    }
    .symptoms_section {
        padding: 80px 0 35px;
    }
    .symptoms_information_image h4 {
        top: 18px;
        left: 26px;
        font-size: 34px;
    }
    .symptoms_information_text ul li a {
        min-width: 117px;
        font-size: 24px;
    }
    .information_section {
        padding: 35px 0 80px;
    }
    .article_box_text {
        padding: 20px;
    }
    .article_slider_sec {
        margin-top: 40px;
    }
    .article_box_text label {
        padding: 6px 12px;
    }
    .article_box_text h4 {
        font-size: 24px;
        margin: 14px 0;
    }
    .article_box_text p {
        font-size: 20px;
    }
    .article_slider_sec .slick-slide {
        margin: 0 18px;
    }
    .article_slider_sec .slick-arrow {
        width: 75px;
        height: 75px;
        font-size: 34px;
        line-height: 73px;
    }
    .article_slider_sec .blue_border_btn {
        margin-top: 50px;
    }
    .blue_border_btn {
        max-width: 460px;
        height: 70px;
        line-height: 70px;
        font-size: 22px;
    }
    .repair_guide_section {
        padding: 60px 0 40px;
    }
}
@media(max-width: 900px) {
    .custom_col_3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .custom_col_6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .site_footer .footer_logo a {
        margin: 60px auto 0;
    }
    .footer_link ul.footer_links_inner {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        max-width: 410px;
        margin-top: 0px !important;
    }
    .footer_link ul.footer_links_inner li {
        border-bottom: 1px solid #fff;
        width: 100%;
        margin: 0;
        padding: 10px 8px;
    }
    .footer_link ul.footer_links_inner li a {
        padding: 0 !important;
    }
    .footer_link ul li a {
        line-height: 37px;
        display: block;
        padding-right: 25px;
    }
    .footer_link ul li a:before {
        content: '\f054';
        font-family: FontAwesome;
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .footer_link ul {
        max-width: 446px;
        margin-top: 25px;
    }
    .footer_link ul li {
        margin: 2px 18px;
    }
    .nationwide_contnet_sec .nationwide_contnet_inner h2 {
        font-size: 38px;
    }
    .nationwide_contnet_sec .nationwide_contnet_inner h3 {
        font-size: 28px;
        margin: 10px 0 20px;
    }
    .nationwide_contnet_sec .nationwide_contnet_inner h3 span {
        font-size: 20px;
    }
    .nationwide_tab_content .nationwide_tab_content_input input {
        font-size: 20px;
    }
    .nationwide_tab_content .nationwide_tab_content_input input::placeholder {
        font-size: 18px;
    }
    .nationwide_contnet_tabs_sec {
        margin-bottom: 16px;
    }
    .blue_btn {
        height: 70px;
        line-height: 70px;
    }
    .chosen_content_box_sec .custom_row {
        margin: 0 -15px;
        justify-content: center;
    }
    .chosen_content_box_sec .custom_col_3 {
        padding: 0 15px;
        margin-top: 32px;
    }
    .common_heading {
        font-size: 36px;
    }
    .information_section .custom_row, .symptoms_section .custom_row {
        margin: 0 -15px;
    }
    .information_section .custom_col_6, .symptoms_section .custom_col_6 {
        padding: 0 15px;
    }
    .symptoms_section {
        padding: 60px 0 30px;
    }
    .information_section {
        padding: 30px 0 60px;
    }
    .symptoms_information_text ul {
        margin: 32px -15px 0;
    }
    .symptoms_information_text ul li {
        padding: 0 15px;
    }
    .article_slider_sec {
        margin-top: 32px;
    }
    .repair_guide_section {
        padding: 40px 0 30px;
    }
    .repair_prefecture_content {
        padding: 40px 0;
    }
    .repair_prefecture_content h4 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .custom_model .custom_model_content {
        max-width: 650px;
    }
    .custom_model_content_inner {
        max-width: 585px;
    }
    .symptoms_information_text ul li a {
        height: 68px;
        line-height: 65px;
    }
    .custom_model_content_inner .common_heading {
        font-size: 26px;
    }
    .custom_model_content_inner ul li a {
        min-width: 95px;
        height: 47px;
        line-height: 42px;
        font-size: 18px;
    }
}
@media(max-width: 675px) {
    .custom_col_3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .site_footer .businesses_box {
        max-width: 410px;
        padding: 20px;
    }
    .footer_link ul li {
        margin: 2px 6px;
    }
    .footer_link ul.footer_links_inner li a {
        font-size: 18px;
    }
    .footer_link ul li a {
        font-size: 15px;
    }
    .footer_link .copyright_text {
        margin-top: 16px;
    }
    .site_footer .footer_link {
        padding: 0 0 145px;
    }
    .businesses_box .businesses_box_image {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        max-width: 100px;
    }
    .businesses_box .businesses_box_inner {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        max-width: 211px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .site_footer .businesses_box img {
        max-width: 100px;
    }
    .site_footer .businesses_box h5 {
        font-size: 26px;
        margin: 0 auto 4px;
    }
    .site_footer .businesses_box a {
        font-size: 17px;
        line-height: 20px;
        max-width: 210px;
        border-radius: 15px;
        padding: 7px;
    }
    .nationwide_section .nationwide_contnet_sec {
        max-width: 440px;
    }
    .nationwide_section .nationwide_contnet_inner {
        padding: 35px 15px;
    }
    .nationwide_section .nationwide_contnet_inner {
        max-width: 418px;
    }
    .nationwide_contnet_sec .nationwide_contnet_inner h2 {
        font-size: 32px;
    }
    .nationwide_contnet_sec .nationwide_contnet_inner h3 {
        font-size: 25px;
        margin: 10px 0 15px;
    }
    .nationwide_contnet_sec .nationwide_contnet_inner h3 span {
        font-size: 17px;
        width: 100%;
        word-break: keep-all;
    }
    .nationwide_list_tab_title ul li a {
        font-size: 19px;
        padding: 9px;
    }
    .nationwide_tab_content {
        padding: 20px;
    }
    .nationwide_tab_content .nationwide_tab_content_input input {
        width: 100%;
        margin-right: 0;
        padding-left: 50px;
        border-radius: 5px 5px 0 0;
    }
    .nationwide_tab_content .nationwide_tab_content_input button {
        border-radius: 0 0 5px 5px;
        font-size: 18px;
        padding: 8px 25px;
        height: 42px;
        width: 100%;
    }
    .nationwide_tab_content .nationwide_tab_content_input input::placeholder {
        font-size: 17px;
    }
    .model_name_select {
        padding: 8px 0;
    }
    .discerning_search_box {
        padding: 9px 10px;
    }
    .blue_btn {
        height: 65px;
        line-height: 65px;
        font-size: 23px;
    }
    .model_name_select label {
        width: 94px;
    }
    .model_name_select select {
        width: calc(100% - 94px);
        padding-left: 12px;
    }
    .chosen_content_box_sec .chosen_box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .chosen_box_image {
        flex: 0 0 90px;
        max-width: 90px;
    }
    .chosen_box_text {
        flex: 0 0 calc(100% - 90px);
        max-width: calc(100% - 90px);
        padding-left: 25px;
    }
    .chosen_box_text h4 {
        text-align: left;
        margin: 0 0 10px;
    }
    .chosen_box_text p {
        font-size: 19px;
    }
    .chosen_box_image img {
        max-width: 87px;
        max-height: 106px;
    }
    .common_heading {
        font-size: 32px;
    }
    .symptoms_information_text ul {
        margin: 32px -7px 0;
    }
    .symptoms_information_text ul li {
        padding: 0 7px;
    }
    .symptoms_information_text ul li a {
        min-width: 105px;
        font-size: 20px;
        height: 57px;
        line-height: 51px;
    }
    .symptoms_information_text a {
        font-size: 20px;
    }
    .article_box_text label {
        padding: 2px 12px;
        font-size: 19px;
    }
    .blue_border_btn {
        max-width: 340px;
        height: 60px;
        line-height: 54px;
        font-size: 20px;
        border-radius: 23px;
    }
    .article_slider_sec .blue_border_btn {
        margin-top: 60px;
    }
    .article_box_text h4 {
        font-size: 23px;
    }
    .article_box_text p {
        font-size: 17px;
    }
    .repair_prefecture_content .custom_drop_menu {
        display: none;
        width: 100%;
        max-width: 400px;
        margin: auto;
    }
    .repair_prefecture_content h4 {
        width: 100%;
        max-width: 400px;
        margin: auto;
        position: relative;
        font-size: 22px;
    }
    .repair_prefecture_content h4 span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.4s;
        color: #8c96aa;
    }
    .repair_prefecture_content h4 span.drop_icon_rotate {
        transform: rotate(180deg);
    }
    .repair_prefecture_content ul li {
        padding-right: 25px;
    }
    .repair_prefecture_content ul li:not(:last-child):before {
        right: 8px;
    }
    .repair_prefecture_content ul li a {
        font-size: 18px;
    }
    .repair_prefecture_content ul {
        margin-top: 20px;
    }
    .repair_shop_btn_box {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        padding: 30px 15px;
    }
    .repair_shop_btn {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .nationwide_tab_content .nationwide_tab_content_input input::placeholder {
        font-size: 16px;
    }
    .custom_model .custom_model_content {
        border-radius: 18px;
        max-width: 610px;
    }
    .custom_model_content_inner {
        max-width: 554px;
    }
    .custom_model .custom_model_content a.model_close_btn {
        width: 35px;
        height: 35px;
        line-height: 34px;
    }
    .custom_model_content_inner .common_heading {
        font-size: 24px;
    }
    .custom_model_content_inner ul {
        margin: 0 -8px;
    }
    .custom_model_content_inner ul li {
        padding: 0 8px;
        margin-bottom: 18px;
    }
    .custom_model_content_inner ul li a {
        min-width: 74px;
        height: 45px;
        line-height: 42px;
        font-size: 16px;
    }
}
@media(max-width: 400px) {
    .nationwide_tab_content .nationwide_tab_content_input input {
        padding-left: 42px;
        background-size: 19px;
        background-position: 12px center;
    }
    .nationwide_tab_content {
        padding: 15px;
    }
    .nationwide_tab_content .nationwide_tab_content_input input {
        padding-left: 29px;
        background-size: 19px;
        background-position: 6px center;
    }
}